.logo {
  width: 40px;
  height: auto;
  object-fit: contain;
  margin: 0px 15px;
}

.MuiToolbar-gutters {
  padding-left: 0% !important;
}

.iconButton {
  color: beige !important;
  font-size: large !important;
}
