.back {
  align-items: center;
  background: #dcdcdc;
  display: flex;

  height: 100vh;

  background-image: url("../../assets/imageHome.png");
  background-color: #cccccc;
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
